/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env

/FROM_FAROOKPHUKET_WEBSITE

/api/.env
/api/vendor
/api/node_modules

/nextjs/.next
/nextjs/.env.local
/nextjs/node_modules

.env.local
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.idea
/.vscode
